<div class="row">
  <div class="small-12 columns">
    <div class="panel callout radius" id="green">
      <h2 class="text-center">Welcome to your <em>new</em> business website!</h2>
      <h3 class="subheader text-center">A place for you and your customers to connect.</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 medium-4 large-4 columns">
    <h3 class="text-center">Products</h3>
    <p class="text-justify">Our products are guaranteed to please. We pride ourselves
    in our product and take extensive measures to make sure that our customers are 
    receiving the best we have to offer. All of our items are made from materials that
    are responsibly sourced from domestic suppliers, and we take steps to ensure
    sustainable practices through the entire production chain.</p>
  </div>
  <div class="small-6 medium-4 large-4 columns">
    <h3 class="text-center">Services</h3>
    <p class="text-justify">Like our products, we take measures to provide services
    that are based on cutting-edge ideas. We heavily recruit staff from top universities,
    ensuring that we continue to provide real world solutions based on current best practices.</p>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <h3 class="text-center">Support</h3>
    <p class="text-justify">Working towards a more sustainable domestic work culture, we provide you with support
    that understands you, both professionally and culturally. We ensure that there
    is staff available to help you throughout your work day, both by phone and email. Our
    support technicians are prompt and professional. We hope that our product never fails you,
    but you can rest assured that if something goes wrong, we will be there to help you!
  </div>
</div>

  <hr />

<div class="panel">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <%= image_tag('consulting.jpg') %>
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <h3>Meet with us!</h3>
      <p>Fill out the form to schedule a time that is best for you to meet over skype
      to discuss your business needs. We look forward to developing innovative
      solutions that will push your business to the next level.</p>
    </div>
    <a href="#" class="button right">Contact Us
    </a>
  </div>
</div>

</div>
