/* Admin stylings */
nav.admin {
  background-color: purple;
}

footer.on-bottom.admin {
  background-color: purple;
}

span.thin-text {
  font-weight: 100;
}

/* Button stylings */

.button {
  background-color: rgb(80, 130, 50);
}

.button:hover {
  background-color: green;
}

div.bottom-links {
  margin: .5em 0 1em 0;
}

div.bottom-links a {
  display: inline-block;
  margin: 0 .1em 1em 0;
}

/* Products Page stylings */

.stretch-photo {
  width: 100%;
}

/* Panel Callout stylings */
div.callout {
  margin-top: 1em;
}

#green {
  background-color: rgb(250, 255, 185);
  border: 4px solid rgb(180, 255, 35);
}

/* Midpage stylings */

div.backfill {
  background-color: yellow;
}

/* Footer stylings */

footer.on-bottom {
  height: auto;
  background-color: #666;
}

footer.on-bottom ul.vcard {
  border: none;
  border-right: .3em dotted #999;
  margin-top: .4em;
  margin-bottom: 5px;
}

footer.on-bottom li {
  color: white;
}

footer.on-bottom li a {
  color: rgb(180, 255, 35);
}

footer.on-bottom li a:hover {
  color: rgb(240, 255, 180);
}

div.footer-details {
  width: 150px;
  margin-right: 25px;
}

div.footer-details > h3 {
  color: #444;
  text-shadow: 0 1px 0 #BBB, 0 -2px 0 #000;  
}

div.footer-details ul {
  margin: 0;
  padding: 0;
}

div.footer-details li {
  list-style: none;
}
